/*
    Sidebar Styles
*/
.sidebar{
    width: 300px;
    background-color: #31313A;
}
/*
    Chat Styles
*/
.chat{
    flex: 2;
    background-color: rgb(90, 92, 106);
}
.chats{
    background-color: #31313A;
    width: 300px;
}
/*
    Navbar Styles
*/
.navbar{
    display: flex;
    align-items: center;
    background-color: #31313A;
    height: 50px;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: space-between;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    color: aliceblue;

}
.profilePicture {
    background-color: aliceblue;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    object-fit: cover;
}
.logout-button{
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #31313A;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 10px 8px 10px;
    border: none;
    cursor: pointer;
    margin-left: 71px;
}
/*
    Search Styles
*/
.searchInputContainer{
    padding: 25px 10px 15px 20px;

}
.searchInput{
    background-color: white;
    border-radius: 2.5px;
    border: none;
    padding: 5px 10px 5px 10px;
    color: #31313A ;
    outline: none;
    width: 88%;
}
.avatar{
    width: 30px;
    height: 30px;
    display: flex;
    background-color: aquamarine;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.chatInfoSpan{
    font-size: 14px;
}
.chatInfoP{
   font-size: 14px;
    color: lightgray;
}
.chatUserInfo{
    height: 50px;
    background-color: #3A3A44;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}
.chatIconsContainer{
    display: flex;
    gap: 10px;

}
.chatIcons{
    height: 24px;
    cursor: pointer;
}
.messages{
    background-color: #44444F ;
    padding: 10px;
    height: calc(100% - 160px);
    overflow: scroll;
}
.messageInputContainer{
    height: 50px;
    background-color:#3A3A44;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.messageInput{
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-size: 18px ;
    background-color: transparent;
}
.sendContainer{
    display: flex;
    align-items: center;
    gap:10px;
}
.sendContainerImg{
    height: 24px;
    cursor: pointer;
}
.sendButton{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #44444F;
}

.messageContainer{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.messageContainerOwner{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}

.messageInfo{
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;

}
.messageInfoPic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.messagePic{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.messageContent{
    max-width: 80%;
}
.messageContentOwner{
    max-width: 80%;
    align-items: flex-end;
}
.message{
    background-color: white;
    padding: 10px 20px;
    border-radius: 0 10px 10px 10px;
    max-width: max-content;
}
.messageOwner{
    background-color: cornflowerblue;
    padding: 10px 20px;
    border-radius: 10px 0 10px 10px;
}