/* contact.jsx */
.contactDiv:hover {
    background-color: #44444F;
}
.contactSelector {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 3px;
    height: 55px;
}

/* chat.jsx */

.chatDiv {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.sidebarDiv {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #31313A;
}
.informationDiv {
    flex-grow: 1;
}
.userInformation {
    display: flex;
    gap: 12px;
    padding: 25px 10px 5px 20px;
}
.usernameInformationDiv {
    display: flex;
}
.usernameInformation {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    line-height: 8px;
    color: #FFFFFF;
}
.username {
    font-family: "ExtraBold";
    font-size: 20px;
}
.paragraph {
    font-size: 12px;
    font-family: "Medium";
}
.searchBarDiv {
    padding: 25px 10px 15px 20px;
}
.searchBar {
    background-color: #FFFFFF;
    border-radius: 2.5px;
    border: none;
    padding: 5px 10px 5px 10px;
    color: #31313A;
    outline: none;
    width: 88%;
}
.logoutDiv {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.chattingDiv {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #44444F;
}
.contentAreaDiv {
    flex-grow: 1;
}
.noSelectedContact {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    opacity: 30%;
    font-family: "SemiBold";
}
.messageAreaDiv {
    position: relative;
    height: 100%;
}
.messageArea {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow-y: scroll;
    padding-top: 20px;
}
.messageDiv {
    padding: 10px 0px 15px 18px;
}
.contentDiv {
    width: 100%;
    align-items: center;
}
.message {
    display: flex;
    flex-direction: row;
}
.messageContentDiv {
    margin-left: 12px;
    width: calc(100% - 100px);
    margin-top: -8px;
}
.messageInformation {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    line-height: 0px;
}
.messageSender {
    font-size: 15px;
    font-family: "SemiBold";
}
.messageSentAt {
    font-size: 9px;
    font-family: "Medium";
    margin-left: 8px;
    margin-top: 12px;
    opacity: 50%;
}
.messageText {
    color: #EDEDED;
    font-size: 13px;
    font-family: "Regular";
    display: flex;
    margin-top: -3px;
    flex-direction: column;
    word-break: break-word;
}
.scrollDiv {
    height: 12px;
}
.sendMessageForm {
    display: flex;
    padding: 0px 10px 15px 15px;
}
.sendMessageInput {
    background-color: #FFFFFF;
    width: 90%;
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.sendMessageButton {
    margin-left: -4px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: #708090;
    cursor: pointer;
}
.sendMessageButton:hover {
    background-color: #5b6875;
}
.attachDiv {
    display: flex;
    align-items: center;
}
.attachLabel {
    display: flex;
    margin-left: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.attachInput {
    visibility: hidden;
    display: none;
}
