.form {
  height: fit-content;
  width: fit-content;
}

.header {
  color: white;
  font-size: 28px;
  line-height: 0.25;
  font-family: "SemiBold";
}

.slogan {
  color: white;
  font-size: 14px;
  line-height: 0.25;
  margin-bottom: 30px;
  font-family: "Regular";
}

.input {
  width: 86%;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 10px;
  background-image: url("../../assets/icons/mail.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
  font-family: "Regular";
}

.input2 {
  width: 86%;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 10px;
  background-image: url("../../assets/icons/person.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
  font-family: "Regular";
}

.pwd {
  width: 86%;
  border-radius: 4px;
  padding: 8px;
  font-size: 10px;
  background-image: url("../../assets/icons/lock.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 11px;
  padding-left: 40px;
  font-family: "Regular";
}

.decision {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.text {
  color: white;
  font-size: 12px;
  line-height: 0;
  font-family: "Regular";
}

.btn {
  color: white;
  text-decoration: underline;
  font-size: 12px;
  line-height: 0.25;
  margin-bottom: 25px;
  font-family: "SemiBold";
  cursor: pointer;
}

.btn2 {
  background-color: rgb(90, 92, 106);
  width: fit-content;
  height: fit-content;
  justify-content: center;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.btn2:hover {
  background-color: rgb(32, 45, 58);
}

.text2 {
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  color: white;
  font-size: 12px;
  line-height: 0.4;
  font-family: "Medium";
}
